.dashboardContainer{
    width: 100vw;
    height: 100vh;
    padding: 2em 5em 5em 5em;
    display: grid;
    grid-template-rows: 1fr 8fr;
    row-gap: 1.2em;

}

.dashboardHeadingContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1.2em;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.5fr;
    column-gap: 1.2em;
}

.logo{
    justify-self: end;
}

.columnOne{
    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 1.2em;
}

.columnTwo{
    display: grid;
    grid-template-rows: 2fr 3fr;
    row-gap: 1.2em;
}

.columnThree{
    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 1.2em;

}

.dashboardItemContainer{
    background-color: white;
    border-radius: 29px;
}

.dashboardItemContainer:hover{
    border: 2px solid #3193f6;

}

.dashboardHeading{
    color: white;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 600;
}