@font-face {
  font-family: "Montserrat Italic";
  src: url("../../../public/Montserrat-Italic-VariableFont_wght.ttf");
}

.container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 75%;
  justify-content: space-between;
  margin: 100px auto;
  padding: 4% 6%;
  position: relative;
  row-gap: 6%;
  text-align: center;
  width: 45%;
}

#progressBarContainer {
  color: white;
  display: flex;
  flex-direction: column;
  left: 50px;
  position: absolute;
  row-gap: 3px;
  top: 50px;
}

#progressBar {
  column-gap: 4px;
  display: flex;
}

.bar {
  background-color: #ffd166;
  border: none;
  border-radius: 10px;
  height: 8px;
  opacity: 0.75;
  width: 65px;
}

.title {
  display: flex;
  font-size: 1.3rem;
  text-align: left;
  color: #087df1;
  font-family: "Montserrat";
}

.subtitle {
  font-size: 0.9rem;
  font-family: "Montserrat Italic";
  color: #087df1;
}

.styling_subtext{
  font-size: 0.9rem;
  font-family: "Montserrat Italic";
  color: #AAAAAA;
}

.styling_container {
  height: 80%;
  width: 100%;
  text-align: left;
  position: relative;
  top: 20%;
}

:global(.fontpicker){
  background: #E0E0E0 !important;
  border-color: #2E2E2F !important;
  border-radius: 4px;
  outline: none;
  height: 3rem;
}

:global(.fontpicker__preview){
  filter: invert(11%) sepia(5%) saturate(244%) hue-rotate(201deg) brightness(100%) contrast(82%) !important;
  margin-top: 0.5rem;
}

:global([class^="font-preview-"]){
  filter: invert(11%) sepia(5%) saturate(244%) hue-rotate(201deg) brightness(100%) contrast(82%) !important;
}

:global(.fontpicker__option), :global(.fontpicker__search){
  background: #E0E0E0 !important;
  color:#2E2E2F !important;
}

:global(.fontpicker__option.selected){
  background: #C0c0c0 !important;
  border-width: 1px !important;
  border-color:#2E2E2F !important;
}

#backButton {
  left: 20px;
  position: absolute;
  top: 20px;
  background-color: transparent;
  border: none;
  color: #087DF1;
}

#customisePageContainer {
  align-items: center;
  column-gap: 50px;
  display: flex;
  width: 100%;
  padding-top: 30px;
}

#customiseContainer {
  align-items: center;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  height: 65%;
  padding: 40px 20px;
  position: relative;
  row-gap: 10px;
  text-align: center;
  width: 25%;
}

#CustomisePageBackButton {
  left: 15px;
  position: absolute;
  top: 15px;
  background-color: transparent;
  border: none;
  color: #087DF1;
}

#CustomisePageNextButton {
  bottom: 5vh;
  position: absolute;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
}

.preview {
  background-color: lightgray;
  border-radius: 20px;
  height: 100%;
}

