@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.title {
  color: #ffffff;
  position: absolute;
  font-size: 3.3vw;
  letter-spacing: 0.11vw;

  width: 50vw;

  top: 17vh;
  left: 10.3vw;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}

.paragraph {
  color: #ffffff;
  position: absolute;

  font-size: 2.05vw;
  line-height: 4.3vh;
  letter-spacing: 0.05vw;

  height: auto;
  width: 36vw;

  top: 28vh;
  left: 10.4vw;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: #087df1;
}

.intro_button {
  position: absolute;
  left: 22vw;
  top: 69vh;
}

.logo {
  position: absolute;

  top: 7vh;
  right: 3vw;

  width: 10vw;
  height: auto;
}

.femaleProgrammer {
  position: absolute;

  top: 15vh;
  right: 7vw;

  width: auto;
  height: 70vh;
}
