.classListContainer {
  width: 100%;
  padding: 2% 5% 2% 5%;
  
}

.namesContainer {
  width: 100%;
  height: 8.5vh;
  background-color: #E0E0E0;
  border-radius: 7px;
  overflow-y: scroll;
  padding: 0.5em 1em;
}

.classListHeader {
  font-family: "Montserrat";
  color: #03045e;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0.4em;
}

.adminName {
  color: #03045e;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
}
