@font-face {
  font-family: "Montserrat-SemiBold-Italics";
  src: url('/Montserrat-SemiBoldItalic.ttf');
}

.container{
  border-radius: 20px;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 12%;
  width: 100%;
  height: 100%;
  font-family: "montserrat";
}

.subcontainer{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  column-gap: 1vw;

}

.text{
  height: 5vh;
  width: 30vw;
  border-radius: 10px;
  background: #C1C1C2;
  color: #03045E;
  opacity: 48%;
  /* font-style: italic; */
  font-family: 'Montserrat-SemiBold-Italics'	;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  color: #03045E;
  font-size: 18px;
}

.subheader{
  color: #03045E;
  opacity: 48%;
  font-size: 14px;
  /* font-style: italic; */
  font-weight: 500;
  font-family: 'Montserrat-SemiBold-Italics';
}