.outerContainer {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
}

.clubCard {
  height: 100%;
  width: 100%;
  align-items: center;
  column-gap: 10px;
  display: flex;
  padding: 5px 10px;
  /*disable highlighting of text*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.text {
  color: #03045e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  max-height: 50px;
  overflow: hidden;
}

.dropdownContainer {
  background-color: #d6ebf0;
  border-radius: 0px 0px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: inherit;
}

/* width */
.dropdownContainer::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.dropdownContainer::-webkit-scrollbar-track {
  background: #d9edf1;
}

/* Handle */
.dropdownContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.dropdownContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clubCard:hover {
  background-color: #e8f7fb;
}
