.outerContainer {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}

.clubCard {
  height: 100%;
  width: 100%;
  align-items: center;
  column-gap: 10px;
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  /*disable highlighting of text*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.text {
  color: #03045e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  max-height: 50px;
  overflow: hidden;
  font-size: 18px;
}

.dropdownContainer {
  background-color: #d6ebf0;
  border-radius: 0px 0px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: inherit;
  z-index: 100;
}

/* width */
.dropdownContainer::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.dropdownContainer::-webkit-scrollbar-track {
  background: #d9edf1;
}

/* Handle */
.dropdownContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.dropdownContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clubCard:hover,
.createClubButton:hover,
.joinClubButton:hover {
  background-color: #daf6fc;
}

.createClubButton {
  background-color: transparent;
  grid-column: 1;
  color: #03045e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 18px;
  width: 100%;
  border: none;
}

.createClubIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  color: black;
  font-size: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.joinClubButton {
  background-color: transparent;
  grid-column: 2;
  color: #03045e;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  border: none;
}
