.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 110px 50px;
  position: relative;
  row-gap: 50px;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  float: right;
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.subcontainer {
  position: fixed;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}