.container {
  position: relative;
}

.infoHover {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}
.infoHover:hover {
  cursor: pointer;
}

.infoHover:hover ~ .dropdownInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.triangle:before {
  content: '';
  /* width: 0px;
    height: 0px; */
  position: absolute;
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: var(--desc-background-color, transparent);
  border-right: 7px solid transparent;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: var(--desc-background-color, transparent);
  border-bottom: 7px solid transparent;
  /* right: 150px;
    top: 30px; */
  right: var(--triangle-right);
  transform: rotate(-45deg);
}

.dropdownInfo {
  position: absolute;
  width: var(--width);
  border-radius: 10px;
  /* margin-left: var(--description-left); */
  font-size: 8px;
  padding: 11.5px;
  display: none;
  top: 0;
  right: -0.5rem;
  transform: translateY(-38%) translateX(100%);
}
