.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  color: #183249;
}
