.container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  margin: auto;
  padding: 50px 80px;
  row-gap: 30px;
  text-align: center;
  width: 40%;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#nextButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
