.background {
  background-color: #e6e9f1;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#wdccLogo {
  /* height: 35px;
  position: absolute;
  top: 20px;
  right: 20px; */
  position: absolute;
  top: 3em;
  right: 3em;
  width: 9em;
  height: auto;
}
