.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  font-family: "Montserrat", sans-serif;
}

.buttonContent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
}

.button:hover {
  cursor: pointer;
  background: var(--hover-color) !important;
}