/* CheckerPagePreview.module.css */
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../../public/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../../public/Montserrat-Light.ttf");
}

/* Container styles for positioning */
.uploadButtonContainer {
    position: relative;
    width: auto;
    height: auto;
    color: #707070;
    background-color: #ddd;
    border-radius: 20px;
}

.previewContainer {
    position: relative;
    left: 5%;
    top: 5.1%;

}

.overlayButtons{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.container {
    /* Styles for the input */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border-radius: 10px;
    cursor: default;
    color: #707070;
    border-color: transparent;
    position: relative;
}

/* Styles for the overlaid <p> tag */
.overlayText {
    font-family: "Montserrat SemiBold";
    color: #03045E; /* Change the color to your desired text color */
    pointer-events: none; /* Prevent the <p> tag from intercepting events */
    margin-bottom: 1%;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preview {
    position: relative;
    width: 90%;
    height: 100px;
}

.checkerPageWrapper {
    position: relative;
}

.overlayButtons {
    position: absolute;
    top: 1%;
    right: 3%;
    left: 2%;
    display: flex;
    gap: 1%;
    z-index: 2;
}

.overlayButtons a {
    color: #03045E;
    text-decoration: none;
    border-radius: 5px;
}

.overlayButtons span {
    color: #03045E;
}

.overlayButtons button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    margin-top: 40%;
    margin-left: 1%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.overlayButtons button:hover {
    background-color: #ddd;
}

.overlayButtons button:last-child {
    margin-left: 90%;
}

.dot {
    width: 13px;
    height: 13px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.activeDot {
    background-color: #DBDBDB;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination .dot {
    width: 13px;
    height: 13px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pagination .activeDot {
    background-color: #DBDBDB;
}