.container{
  background: #E0E0E0;
  border-radius: 17.5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100%;
  width: 31.5rem;
  height: 8.75rem;
  font-family: "montserrat";
}

.subcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin-top: -12rem;
}

.text{
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  background: #C1C1C2;
  color: #03045E;
  opacity: 48%;
  font-style: italic;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}

.header{
  color: #03045E;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.subheader{
  color: #03045E;
  opacity: 48%;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 500;
  font-style: italic;
}