.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.link {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
}

.linkContent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
}

.link:hover {
  cursor: pointer;
  background: var(--background-color) !important;
}
