.input {
	border: none;
	border-radius: 8px;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: var(--placeholder-text-align);
}

.input:focus {
	outline: solid 1px var(--focus-border-color);
}

.input::placeholder {
	opacity: 0.5;
	color: var(--placeholder-color);
	font-family: 'Montserrat';
}

.errorText {
	color: red;
}
