.input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.input:focus {
  outline: solid 1px var(--focus-border-color);
}

.input::placeholder {
  color: var(--placeholder-color);
  font-family: "Montserrat";
  text-align: var(--placeholder-text-align);
}

.errorText {
  color: red;
}
