@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../../public/Montserrat-SemiBold.ttf");
}

#upload-button {
    display: none;
}

.uploadButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    height: 248px;
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Montserrat SemiBold";
    color: #707070;
    text-align: center;
    padding-top: 40px;
    border-color: transparent;
}

.uploadIcon {
    width: 110px;
    height: 110px;
    margin-top: 30px;
}

