.container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 50px 20px;
  position: relative;
  row-gap: 10px;
  text-align: center;
  width: 40rem;
  height: 37rem;
  font-family: 'Montserrat', sans-serif;
  color: #087df1;
}

button {
  cursor: pointer;
}

#title {
  color: #087df1;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 550;
}
#description {
  color: #087df1;
  font-family: 'Montserrat italic', sans-serif;
  width: 20rem;
  font-style: italic;
}

#message {
  color: #087df1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  width: 20rem;
}

#backButton {
  left: 20px;
  position: absolute;
  top: 20px;
}

#CustomisePageBackButton {
  left: 15px;
  position: absolute;
  top: 15px;
}
