.container {
	align-items: center;
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
	margin: auto;
	padding: 60px 140px;
	position: relative;
	text-align: center;
	width: 40%;
	font-family: 'Montserrat', sans-serif;
	color: #087df1;
}

button {
	cursor: pointer;
}

#title {
	color: #087df1;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.6rem;
	font-weight: 600;
}

#description {
	color: #087df1;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	line-height: 1.3rem;
	margin-bottom: 3.5rem;
}

#message {
	color: #087df1;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	width: 20rem;
}

#backButton {
	left: 20px;
	position: absolute;
	top: 20px;
}

#CustomisePageBackButton {
	left: 15px;
	position: absolute;
	top: 15px;
}
